[Unit]
Description=monitoring-producer - App to capture system informartion and post it to an URL
Documentation=https://github.com/Accelerator-Team/monitoring-producer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=monitoring-producer server-token="[SERVER_TOKEN]" url="[MONITORING_URL]"

[Install]
WantedBy=multi-user.target
Alias=monitoring-producer.service